body { font-family: arial }
#msg-out { margin-top: 10px; width: 100%; height: 30px }
#msg-in { margin-top: 10px; padding: 4px; width: 100%; height: 60px; text-align: left }
#cnx { padding: 4px; border: 0; width: 100%; height: 20px; text-align: left }
#panel { text-align: center; width: 80% }
#clientlist { vertical-align: top; padding: 10px; text-align: left }
.v-list-current { color: rgb(255, 0, 0) }
.user-bar { height: 100% }
td.channel { padding: 0 5px 0 5px; background-color: burlywood; color :red; text-align: left }
td.client { padding: 0 5px 0 5px; background-color: cadetblue; color :blue; text-align: right }
td.client-id { padding: 0 5px 0 5px; background-color: cadetblue; color :darkgreen; text-align: left }
td.message { padding: 0 5px 0 5px; text-align: left }